ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* MODAL */
/*.is-hidden {
  transform: translateY(-10%);
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  overflow-y: scroll;
  z-index: 100;
  will-change: opacity;
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 30px;
  left: 0;
  margin: 0 auto;
  padding-top: 48px;
  width: 280px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
  pointer-events: initial;
  background-color: rgb(183, 180, 180);
  border-radius: 12px;
  -webkit-animation: modal 1000ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: modal 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
  will-change: opacity;
}
@-webkit-keyframes modal {
  0% {
    transform: scale(0.3, 0.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes modal {
  0% {
    transform: scale(0.3, 0.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 80px;
    width: 628px;
    padding-top: 42px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    top: 230px;
    top: 70px;
    width: 914px;
    padding-top: 50px;
  }
}

.modal__button-close {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(186, 182, 182);
  cursor: pointer;
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover, .modal__button-close:focus {
  transform: scale(1.1);
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .modal__content {
    width: 562px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__content {
    width: 820px;
  }
}*/

.hidden {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  width: 100%;

  @media screen and (min-width: 480px) {
    margin: 0 auto;
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 70px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
}

.footer {
  background-color: #E5E5E5;
}

.footer-text {
  width: 482px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 28px;
  color: gray;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.19;
}
@media screen and (max-width: 767px) {
  .footer-text {
    flex-direction: column;
    font-size: 14px;
    line-height: 1.14;
    width: 236px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .cocpyright {
    margin-bottom: 10px;
  }
}
.is-hidden {
  display: none;
}

body.modal-footer-open {
  overflow: hidden;
}

.footer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.footer-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.footer-backdrop.is-hidden .footer-modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.footer-modal {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 99;
  width: calc(100% - 30px);
  border-radius: 24px;
  pointer-events: initial;
  line-height: 1.17;
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1), opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: modal 1000ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: modal 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes modal {
  0% {
    transform: scale(0.3, 0.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@media screen and (min-width: 768px) {
  .footer-modal {
    top: 230px;
    width: 628px;
    padding-top: 0;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (min-width: 1024px) {
  .footer-modal {
    top: 70px;
    width: 914px;
  }
}
@media screen and (max-width: 768px) {
  .footer-modal {
    width: 280px;
    left: 20%;
    top: 110px;
    height: 810px;
    padding-top: 10px;
    transform: translateY(-10%) scale(1);
  }
}

.footer-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: gray;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-close-button:hover, .footer-close-button:focus {
  transform: scale(1.1);
}

.team {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .team {
    border-radius: 25px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}
@media screen and (min-width: 1024px) {
  .team-list {
    display: flex;
    align-items: center;
  }
}

.team-img {
  margin-bottom: 10px;
  /*width: 100%;*/
  width: 125px;
  height: 125px;
  border-radius: 50%;
  box-shadow: 5px 5px 11px -2px #000000;
}
.team-img:hover, .team-img:focus {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  transition-duration: 250ms;
}

.team-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: calc((100% - 80px) / 2);
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 160px) / 4);
  }
}
@media screen and (min-width: 1024px) {
  .team-item {
    margin: 30px;
    width: calc((100% - 240px) / 4);
  }
}

.link-icon {
  color: inherit;
  text-decoration: none;
}

.title-team {
  margin-bottom: 5px;
  font-family: Roboto;
  font-weight: 700;
}

.team-professional {
  font-family: Roboto;
  color: rgb(134, 108, 108);
}
@media screen and (max-width: 768px) {
  .team-professional {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */